.Maingrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  grid-gap: 20px;
  position: relative;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  width: 100vw;
  margin: 0 auto;
  margin-bottom: 2em;
}
