.Maingrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  grid-gap: 20px;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 1000px;
  min-height: 200px;
  margin: 0 auto;
  margin-bottom: 2em;
}

@media screen and (max-width: 700px) {
  .Maingrid {
    grid-template-columns: repeat(auto-fill, 75px);
    grid-gap: 10px;
  }
}
