.Loading {
  padding: 1em;
  text-align: center;
  font-size: 1rem;
  color: rgb(104, 155, 156);
}

.Leaderboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 2em;
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Header p {
  padding: 0.25em;
  background-color: rgb(104, 155, 156);
  color: #fff;
  text-align: center;
}

.Rank,
.Flips,
.Time {
  width: 15%;
}
.Name {
  width: 55%;
}
