.Button {
  height: 40px;
  width: 180px;
  margin: 0.5em;
  border: none;
  border-radius: 5px;
  background-color: rgb(104, 155, 156);
  color: #fff;
  cursor: pointer;
}

.Disabled {
  background-color: rgb(89, 97, 97);
}

.Button[disabled]:hover:enabled {
  background-color: rgb(90, 145, 146);
}
