.Button {
  border: 2px solid rgb(175, 208, 209);
  background-color: transparent;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0.1em 0.2em;
  margin: 0 0.2em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.Button:hover {
  background-color: rgb(175, 208, 209);
  color: rgb(104, 155, 156);
}
